*{
    padding: 0;
    margin: 0;
}

.main{
    max-width: 1000px;
    background-color: red;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 31%;
    margin: 1%;
    height: 200px;
    background-color: aqua;
    border-radius: 20px;
}
/* .box iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
} */