
 .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute !important ;
    top: 62% !important;
    left: 77% !important;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}




@media only screen and (min-width:"0px") and (max-width:"575px"){

}